$primary-color: white;


@mixin white-elements($theme: primary-color) {
  background: $theme;
  display: flex;
}
.profile-container {
  background-color: #f8f9fa;
  width: 100vw;
  height: 100vh;
}
.profile-info {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  flex-direction: column;
  width: 74vw;
  height: 54vh;
  background-color: white;
  position: relative;
  top: 15vh;
  border-radius: 7px;
}
.large-photo {
  width: 74vw;
  height: 40vh;
  border-radius: 7px;
}
.small-photo {
  width: 10vw;
  height: 10vw;
  position: relative;
  bottom: 17vh;
  left: 32vw;
  z-index: 2;
}
.info-block {
  width: 74vw;
  min-height: 14vh;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 22vh;
  z-index: 1;
  align-items: center;
}
.info-item {
  margin: 0 2vw;
}
.social-media {
  background-color: blue;
  width: 24vw;
  height: 6vh;
}
.status {
  width: 10vw;
  height: 4vh;
}
.login {
  font-size: 4vh;
}