.pagination {
  margin: 4px auto;
  height: fit-content;
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  li {
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      max-height: 3vh;
      max-width: 3vh;
      border-left: 1px solid lightgray;
      position: relative;
      top: 3px;
    }
  }
}
.page-item {
  padding: 4px;
  border-left: 1px solid lightgray;
  color: #007afe;
}
.active {
  background-color: #007afe;
  color: white;
}
.disabled-arrow {
  display: none;
}