.pagination {
  //margin: 12vh auto 1vh auto;
  z-index: 100;
  height: fit-content;
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.page-item {
  padding: 4px;
  border-left: 1px solid lightgray;
  color: #007afe;
}
.active {
  background-color: #007afe;
  color: white;
}
