$primary-color: white;
$secondary-color: #d9d6d6;

@mixin white-elements($theme: primary-color) {
  background: $theme;
  display: flex;
}

@media screen and (min-width: 991px) {
  .header-main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 12vh;
    background-color: $primary-color;
    color: #2a2a2a;
    box-shadow: 1px 1px 10px 1px #e8e8e8;


  }

  .logo {
    height: 90%;
  }

  .search-input {
    width: 34vw;
    height: 6vh;
    background-color: #daeefe;
    border: 1px solid whitesmoke;
    top: 3vh;
  }
}


@media screen and (max-height: 990px) {
  .header-main {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 10%;
    background-color: $primary-color;
    color: #2a2a2a;
    box-shadow: 1px 1px 10px 1px #e8e8e8;

    button {
      margin: auto 0;
    }
  }
  .logo {
    height: 90%;
  }
  .search-input {
    width: 34vw;
    margin: auto 0;
    max-height: 50%;
    background-color: #daeefe;
    border: 1px solid whitesmoke;
    border-radius: 5px;
  }
}