
.posts-container {
  grid-column: 2/3;
  grid-row: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
}
.posts {
  width: 74vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px lightgrey;

}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 50px;
  border-bottom: 5px solid gray;
  img {
    max-width: 70vw;
    margin: 3px auto;
  }
  .photo-name {
    margin: 2px 0 0 2vw;
    display: grid;
    grid-template-columns: minmax(3vw, 7vw)  100px;
    img {
      border-radius: 100%;
      max-width: 7vw;
    }
    .name-time {
      margin-left: 1vw;
    }
    h4 {
      margin-left: 8px;
    }
   }
  .post-text {
    margin: 0.4vw 10vw;
  }
  .likes {
    margin: 0 7px 0 3vw;
    p {
      display: inline-block;
      padding-left: 5px;
    }
  }
}
.new-post {
  grid-row: 4;
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  grid-template-rows: 6vh minmax(8vh, 16vh) 6vh;
  width: 74vw;
  margin: 0 6vw 4vh 6vw;
  background-color: #ffffff;
  border-radius: 6px;
  input {
    max-width: 68vw;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: #f0f2f5;
    }
  }
  button {
    max-height: 5vh;
    margin: 1vh auto 1vh 57vw;
    max-width: 10vw;
    padding-bottom: 25px;
    color: white;
    background-color: #0d6efd;
    border: 2px solid white;
    border-radius: 7px;
    &:hover {
      background-color: #125dd0;
    }
  }
}